@import url(https://fonts.googleapis.com/css?family=Roboto+Mono)

#app
  display: flex
  & div    
    margin: 0 10px



#map
  font-family: 'Roboto Mono', monospace !important
  font-size: 16px
  width: 640px
  height: 480px
  border: 1px solid #000
  color: #000
  word-wrap: break-word